
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 10px;
  padding: 10px;
  background-color: #0000;
}

li {
  margin-bottom: 10px; /* 調整數值來改變間距 */
}


.tit {          /* 標題文字,邊框格式*/
  .box {
  background-image: url('1.png');
  background-size: cover;       
  background-position: center;  
  color: #87ceeb;
  border: 0px solid #333;
  padding: 1em;
  border-radius: 0px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.sub {          /* 選單文字,邊框格式*/
  background-image: url('1.jpg');
  background-size: cover;       
  background-position: center;  
  border: 2px solid #333;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.con {          /* 主內容文字,邊框格式*/
  border: 2px solid #333;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.tai {          /* 底部文字,邊框格式*/
  border: 2px solid #333;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}


header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
}
